<div id="sitenav-wrapper">
    <h1><span class="ibm-logo">IBM</span> {{metadata.site_name}}</h1>
    <a class="sitenav-toggle" href="#"></a>
	<div id="sitenav">
		<a id="close-menu" class="gen-icon-close_icon" href="#"></a>
		<ul>
			<li><a id="nav-item-home" href="{{relpath}}{{query.str}}">{{metadata.items[0].name}}</a></li>
			<li ng-repeat="item in sitenav" on-repeat-complete="siteNav"><a id="nav-item-{{utils.normalizeString(item.name)}}" ng-href="{{relpath}}{{item.url}}{{query.str}}">{{item.name}}</a></li>
		</ul>
	</div>
</div>