<a ng-href=".{{item.category_link}}{{query.str}}">
    <div id="" class="{{item.category_label}} ibm-col-6-2 home_link-container">
        <div class="title-bar">
            <h4>{{item.category_label}}:</h4>
            <p class="subtitle">{{item.subtitle}}</p><span class="subtitle-chevron">></span>
        </div>
        <div class="home-rollover fadeAllInOut">
            <h4>{{item.category_label}}:</h4>
            <p class="subtitle">{{item.subtitle}}</p>
            <p class="category-desc">{{item.category_description}}</p>
            <p class="caption">{{item.caption}}</p>
        </div>
    </div>
</a>