
<div class="ibm-columns box">
    <div class="ibm-col-6-3">
        <p>Recommended for you:</p>
        <h4>{{item.trial_title}}</h4>
        <p class="subtitle">{{item.trial_subtitle}}</p>
        <p>{{item.trial_description}}</p>
        <p class="button">
            <a href="{{item.cta_url}}" target="_blank" class="fadeAllInOutFast">{{item.cta_label}}</a>
        </p>
    </div>
    <div class="ibm-col-6-3">
        <div page-content type="components/video"></div>
        <p class="video-doc-title">{{item.video_title}}</p>
        <p class="video-doc-desc noMobile">{{item.video_description}}</p>
    </div>
</div>